@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}

.background__main {
    background-image: url('./assets/bg-pattern-top-mobile.svg'), url('./assets/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
@media (min-width: 425px){
    .background__main {
        background-image: url('./assets/bg-pattern-top-desktop.svg'), url('./assets/bg-pattern-bottom-desktop.svg');
    }
}