@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

#root {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
